<div class="container w-25">
 <img class="mt-5 mb-3 w-50" src="../assets/App_logo.png">
  <form (ngSubmit)='login()' #logForm="ngForm"> 
   <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" placeholder="Enter Email" name="emailId"
          [(ngModel)]=user.email pattern ="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" required #emailId="ngModel">
          <div class="alert alert-danger" *ngIf="emailId.dirty && emailId.invalid">Invalid email</div>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="Enter password" name="password"
          [(ngModel)]=user.password pattern ="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  required #pwd="ngModel">
           <div class="alert-danger" *ngIf="pwd.dirty && pwd.invalid">Invalid Password</div>
  </div>
  <button type="submit" class="btn btn-primary"[disabled]="!logForm.valid">Login</button>
  <hr>
  <a [routerLink]="['../register']" >Create Account</a>
</form></div>