<!-- <div class="container">
  <table class="table table-dark">
       <thead>
          <tr>
              <th>Review ID</th>
                <th (click)="sortByRating()">Rating</th>
              <th>Rating</th>
              <th (click)="sortByPrice()">Price</th>
              <th>Action</th> 
          </tr>
      </thead>
      <tbody> -->
          <!----------------USING *ngFor------------------------>
          <!-- <tr *ngFor="let album of albumList;let i = index">
              <td>{{Review.id}}</td>
              <td>{{Review.headline}}</td>
              <td>{{Review.comment}}</td>
              <td>{{Review.rating}}</td>
              <td>{{Review.reviewOn}}</td>
              
          </tr> 
      </tbody>
  </table>
</div> -->
<p>
    List Component
</p>