<div class="container center-div">
  <form (ngSubmit)="add()" #registerForm="ngForm">
    <div class="form-group">
      <label for="firstname">Firstname:</label>
      <input type="text" class="form-control" name="firstname" [(ngModel)]=register.firstName required
        placeholder="Enter Firstname" pattern="[A-Za-z]{6,}" #fname="ngModel" />
      <div class="alert-warning" *ngIf="fname.dirty && fname.invalid">First name can only have A-Za-z characters</div>
    </div>
    <div class="form-group">
      <label for="lastname">Lastname:</label>
      <input type="text" class="form-control" name="lastname" [(ngModel)]=register.lastName required
        placeholder="Enter Lastname" pattern="[A-Za-z]{6,}" #lname="ngModel" />
      <div class="alert-warning" *ngIf="lname.dirty && lname.invalid">Last name can only have A-Za-z characters</div>
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" name="username" [(ngModel)]=register.userName required
        placeholder="Enter Username" pattern="[A-Za-z0-9@_.]{6,}" #uname="ngModel" />
      <div class="alert-warning" *ngIf="uname.dirty && uname.invalid">User name can only have A-Za-z0-9@_. characters
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" name="email" [(ngModel)]=register.email required
        placeholder="(example@domain.com)" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" #email="ngModel" />
      <div class="alert-warning" *ngIf="email.dirty && email.invalid">Invalid Email</div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" name="password" [(ngModel)]=register.password required
        placeholder="Enter Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        #pwd="ngModel" />
      <div class="alert-warning" *ngIf="pwd.dirty && pwd.invalid">Password must have minimum eight characters, at least
        one uppercase letter,
        one lowercase letter, one number and one special character</div>
    </div>
    <div class="form-group">
      <label for="contact">Contact:</label>
      <input type="text" class="form-control" name="contact" [(ngModel)]=register.contact required
        placeholder="Enter Contact" pattern="[6-9]{1}[0-9]{9}" #contact="ngModel" />
        <div class="alert-warning" *ngIf="contact.dirty && contact.invalid">Contact must have 10 digits</div>
    </div>
    <div class="form-group">
      <label for="dob">DOB:</label>
      <input type="date" class="form-control" name="dob" [(ngModel)]=register.dob required
        placeholder="Enter Date Of Birth" min="1979-01-01" max="2001-12-31" />
    </div>
    <div class="form-group">
      <label for="role">Role:</label>
      <select name="role" class="form-control" [(ngModel)]=register.role>
        <option *ngFor="let r of roles" [value]="r">{{r}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="gender">Gender:&nbsp;&nbsp;</label>
      <input type="radio" class="form-check-inline" name="gender" value="Male"
        [(ngModel)]=register.gender />Male&nbsp;&nbsp;
      <input type="radio" class="form-check-inline" name="gender" value="Female"
        [(ngModel)]=register.gender />Female&nbsp;&nbsp;
      <input type="radio" class="form-check-inline" name="gender" value="Other"
        [(ngModel)]=register.gender />Other&nbsp;&nbsp;
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary center-div">Register</button>
      <button type="reset" class="btn btn-danger center-div">Reset</button>
    </div>
  </form>

</div>