<div class="container">
<form (ngSubmit)="userLogin()" #logForm="ngForm"> 
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Enter Username" pattern="[A-Za-z0-9@_.]{6,}"
        [(ngModel)]=login.userName required #username="ngModel"> 
    <div class="alert alert-warning" *ngIf="username.dirty && username.invalid">Invalid Username</div>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
         <input type="password" class="form-control" name="password" placeholder="Enter Password" 
         pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
         [(ngModel)]=login.password required #password="ngModel">
         <div class="alert alert-warning" *ngIf="password.dirty && password.invalid">Password does not meet requirements</div>
    </div>
    <div class="form-group">
        <label for="role">Role:</label>
        <select class="form-control" name="role" [(ngModel)]=login.role required #role="ngModel">
            <option *ngFor="let r of roles" [value]="r">{{r}}</option>
        </select>
        <div class="alert alert-warning" *ngIf="role.pristine && role.dirty">Please select a role</div>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!logForm.valid">Login</button><hr>
    <a [routerLink]="['../register']">New User?</a>
</form>
</div>